amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
celery==5.6.3
cffi==2.0.0
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
Django==5.2.11
django-flower==1.0.0
django-jinja==2.11.0
django-redis==6.0.0
djangorestframework==3.16.1
dotenv==0.9.9
gevent==26.4.0
greenlet==3.4.0
gunicorn==25.1.0
humanize==0.5.1
Jinja2==3.1.6
kombu==5.6.2
MarkupSafe==3.0.3
packaging==26.0
plumbum==1.10.0
prompt_toolkit==3.0.52
psycopg2==2.9.11
pycparser==3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2026.1.post1
pywin32==311
redis==7.4.0
rpyc==6.0.2
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
tzlocal==5.3.1
vine==5.1.0
wcwidth==0.6.0
whitenoise==6.11.0
zope.event==6.1
zope.interface==8.3
